{% block navbar %}    
    <nav>
        <div class="navv">
            <div class="nav1">
                <a><img src="{{ asset('assets/Logo_event.png') }}" alt="logo" class="logo"></a>
                <label for="search">
                    <input type="search" placeholder="Search for events and locations">
                    <button class="btn">Search</button>
                </label>
            </div>
            <div class="nav2">
                <a class="login">Log in</a>
                <a class="register">Register</a>
            </div>
        </div>    
    </nav>
{% endblock %}
