{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
{% include "components/navbar.html.twig" %}
    <div class="container">
        <h1>Create new Event</h1>
    
        {{ include('events/_form.html.twig') }}

        <a class="back" style="margin-top:2rem;" href="{{ path('app_events_index') }}">Back to all events</a>
    </div>
{% include "components/footer.html.twig" %}
{% endblock %}
